body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}
nav {
  display: flex;
}
h1 {
  font-size: 64px;
  font-weight: bolder;
  margin-left: 2%;
}
nav p {
  margin-left: 100px;
  font-size: 20px;
  margin-top: 70px;
}
nav .p1 {
  margin-left: 55%;
  margin-top: 70px;
}

.apresentacao {
  margin-left: 2%;
  display: grid;
  width: 88%;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 50px 28px 20px 320px 102px;
}

.foto {
  height: 500px;
  background-color: rebeccapurple;
  background-image: url(../img/1852-thorfinn-vinland-saga.png);
  background-repeat: no-repeat;
  background-size: 100%;
  grid-row: 1/5;
}

.apresentacao h2 {
  margin-left: 100px;
  font-size: 48px;
  font-weight: 900;
}

.apresentacao .p1 {
  grid-column: 2;
  margin-left: 750px;
  grid-row: 3;
  font-size: 28px;
}

article .p2 {
  grid-row: 4;
  grid-column: 2;
  font-size: 32px;
  margin-left: 100px;
  margin-top: 240px;
}

article .comeco {
  position: absolute;
  margin-left: 31.5%;
  margin-top: 335px;
}

article .fim {
  position: absolute;
  margin-left: 57.5%;
  margin-top: 445px;
}

.enfeite1 {
  background-color: #090cc9;
  position: absolute;
  width: 90px;
  height: 4px;
  margin-left: 37.6%;
  margin-top: 405px;
}

.enfeite2 {
  background-color: #090cc9;
  position: absolute;
  width: 65px;
  height: 4px;
  margin-left: 43.2%;
  margin-top: 405px;
}

.enfeite3 {
  background-color: #090cc9;
  position: absolute;
  width: 165px;
  height: 4px;
  margin-left: 48.6%;
  margin-top: 405px;
}

.divisoria {
  background-color: #21024c;
  width: 60%;
  margin-left: 2%;
  margin-top: 100px;
  height: 5px;
  position: absolute;
}

.experiencias .tit-mobile {
  display: none;
}

.experiencias {
  margin-top: 100px;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.experiencias h2 {
  font-size: 166px;
  font-weight: 900;
  color: rgba(75, 75, 75, 0.36);
  grid-row: 1/5;
}

.card-trabalhos1 {
  display: grid;
  background-color: #fafafa;
  margin: 10px;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 25px 50px 100px;
  width: 50%;
  border-radius: 14px;
  margin-top: 150px;
  height: 250px;
}
.card-trabalhos1 h3 {
  grid-column: 1;
  font-size: 24px;
  margin-left: 5%;
}
.card-trabalhos1 img {
  position: absolute;
  margin-top: 15px;
  margin-left: 1.5%;
}
.card-trabalhos1 p {
  grid-row: 3;
  font-size: 28px;
  margin-left: 5%;
  grid-column: 1/3;
  width: 92.5%;
}

.card-trabalhos1 h4 {
  font-size: 16px;
  color: #21024c;
}

.card-trabalhos2 {
  display: grid;
  background-color: #fafafa;
  margin: 10px;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 25px 50px 100px;
  width: 50%;
  border-radius: 14px;
  height: 250px;
  align-self: center;
}
.card-trabalhos2 h3 {
  grid-column: 1;
  font-size: 24px;
  margin-left: 5%;
}
.card-trabalhos2 img {
  position: absolute;
  margin-top: 15px;
  margin-left: 1%;
}
.card-trabalhos2 p {
  grid-row: 3;
  font-size: 28px;
  margin-left: 5%;
  grid-column: 1/3;
  width: 92.5%;
}

.card-trabalhos2 h4 {
  font-size: 16px;
  color: #21024c;
}

.card-trabalhos3 {
  display: grid;
  background-color: #fafafa;
  margin: 10px;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 25px 50px 100px;
  width: 50%;
  border-radius: 14px;
  height: 250px;
}
.card-trabalhos3 h3 {
  grid-column: 1;
  font-size: 24px;
  margin-left: 5%;
}
.card-trabalhos3 img {
  position: absolute;
  margin-top: 15px;
  margin-left: 1%;
}
.card-trabalhos3 p {
  grid-row: 3;
  font-size: 28px;
  margin-left: 5%;
  grid-column: 1/3;
  width: 92.5%;
}

.card-trabalhos3 .parc {
  font-size: 16px;
  color: #21024c;
  text-align: center;
}
.card-trabalhos3 .sem {
  grid-row: 2;
  font-size: 16px;
  grid-column: 2;
  text-align: center;
}

.formacao {
  background-color: #02000c;
  height: 600pt;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.formacao .tit-mobile {
  display: none;
}
.formacao h2 {
  color: #8070cf;
  font-size: 128pt;
  margin-left: 2%;
  grid-row: 1/3;
}

.formacao div {
  grid-column: 2;
  background-color: #09051c;
  color: white;
  height: 250px;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.formacao div p {
  color: #cfe5e6;
}

.formacao div h4 {
  color: white;
  font-size: 22pt;
  width: 80%;
  margin: 30px;
}

.formacao div span {
  background-color: #1f3366;
  height: 10px;
  width: 1%;
}

.contato {
  background-color: #020332;
  height: 700px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contato .tit-mobile {
  display: none;
}

.contato h2 {
  grid-column: 1;
  grid-row: 1/4;
  font-size: 128px;
}
.contato p {
  grid-column: 2;
  font-size: 28px;
}
.contato a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  body {
        background: blue;
    }
  nav p {
    display: none;
  }
  .apresentacao {
    display: grid;
  }

  .apresentacao .foto {
    background-size: 100%;
    width: 200px;
    max-height: 200px;
  }

  .apresentacao h2 {
    font-size: 36px;
    width: 30%;
  }

  article .p1 {
    display: none;
  }
  article .p2 {
    width: 70%;
    grid-row: 5;
    margin-top: -90px;
    font-size: 20px;
  }

  .apresentacao h2 {
    width: 25%;
    grid-column: 2;
  }
  .apresentacao .fim,
  .comeco,
  .enfeite1,
  .enfeite2,
  .enfeite3 {
    display: none;
  }

  .divisoria {
    width: 100%;
    margin-left: 0px;
  }

  .experiencias {
    grid-template-columns: 1fr;
  }

  .experiencias h2 {
    display: none;
  }

  .experiencias .tit-mobile {
    display: inline;
    font-size: 88px;
    color: rgba(75, 75, 75, 0.58);
    text-align: center;
  }

  .experiencias .card-trabalhos1,
  .card-trabalhos2,
  .card-trabalhos3 {
    width: 90%;
    margin-top: -60px;
  }

  .formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formacao div {
    width: 60%;
  }

  .formacao .tit-mobile {
    display: inline;
    color: #8070cf;
    font-size: 88px;
  }

  .formacao h2 {
    display: none;
  }

  .contato {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-items: center;
    align-items: center;
  }

  .contato .tit-mobile {
    display: inline;
    font-size: 88px;
    color: white;
    margin-top: 100px;
  }

  .contato h2 {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
        background: green;
    }
  nav p {
    margin-left: 50px;
  }

  nav .p1 {
    margin-left: 150px;
  }

  .apresentacao {
    display: grid;
  }

  .apresentacao .foto {
    background-size: 100%;
    width: 200px;
    max-height: 200px;
  }

  .apresentacao h2 {
    font-size: 36px;
    width: 30%;
  }

  article .p1 {
    display: none;
  }
  article .p2 {
    width: 70%;
    grid-row: 5;
    margin-top: -90px;
    font-size: 20px;
  }

  .apresentacao h2 {
    width: 25%;
    grid-column: 2;
  }
  .apresentacao .fim,
  .comeco,
  .enfeite1,
  .enfeite2,
  .enfeite3 {
    display: none;
  }

  .experiencias .card-trabalhos1 {
    width: 90%;
    height: 300px;
    margin-top: 100px;
  }
  .experiencias .card-trabalhos2 {
    width: 90%;
    height: 300px;
  }
  .experiencias .card-trabalhos3 {
    width: 90%;
    height: 300px;
  }
  .experiencias .card-trabalhos1 img,
  .card-trabalhos2 img,
  .card-trabalhos3 img {
    opacity: 0.3;
  }

  .formacao div {
    width: 70%;
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  body {
        background: red;
    }
  .apresentacao {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .apresentacao h2 {
    margin-left: 0px;
  }
  article .p2 {
    margin-left: -5px;
  }
  .experiencias {
    display: flex;
    flex-direction: column;
  }
  .experiencias .tit-mobile {
    font-size: 48px;
  }
  .experiencias .card-trabalhos1,
  .card-trabalhos2,
  .card-trabalhos3 {
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-left: 0%;
  }
  .formacao .tit-mobile {
    font-size: 48px;
  }
  .formacao div {
    width: 90%;
  }
  .formacao div h4 {
    font-size: 24px;
  }
  .contato p {
    font-size: 24px;
  }
}
